body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
    padding-top: 20px;
}

h1, h2 {
    color: #007bff;
}

p, label {
    font-size: 16px;
    color: #343a40;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

nav {
    background-color: #f8f9fa; 
    padding: 10px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: black; 
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

nav ul li a:hover {
    background-color: #e0e0e0;
    border-radius: 4px;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    padding: 10px;
    border: 1px solid #dee2e6;
}

table th {
    background-color: #007bff;
    color: white;
    text-align: left;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

button, .btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-right: 5px;
    width: 100px; 
    text-align: center;
}

button.btn-danger {
    background-color: #dc3545;
    font-size: 16px;
}

button.btn-danger:hover {
    background-color: #c82333;
}

button:hover, .btn:hover {
    background-color: #0056b3;
}

a.btn.btn-primary.mb-3 {
    min-width: 175px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #343a40;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    padding: 10px 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #007bff;
    color: white;
    margin-top: 20px;
    border-radius: 4px;
}

